@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Kanit:wght@200&family=Lato:wght@300&family=Manrope&family=Poppins:ital,wght@0,200;1,300&family=Raleway:ital,wght@1,200&family=Roboto:wght@300&display=swap");

.tequilaContainer {
  width: 50%;
  z-index: 90;
  display: flex;

  flex-direction: column;
  font-family: "Poppins";
  color: white;
  font-weight: 700;
  z-index: 90;
}
.title {
  letter-spacing: 1.5px;
  font-style: oblique;
  text-transform: uppercase;
  margin-top: 80px;
  z-index: 900;
  text-align: center;
}
.tequilaContent {
  width: 100%;
  z-index: 90;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tequilaRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.tequilaRow:nth-child(1) {
  color: rgb(143, 143, 143);
  font-style: italic;
}
.tequilaRow span {
  width: 33%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.tequilaRow span:nth-child(1) {
  display: flex;
  justify-content: start;
}
.tequilaRow span:nth-child(2) {
  display: flex;
  justify-content: end;
}
.tequilaRow span:nth-child(3) {
  display: flex;
  justify-content: end;
}

@media all and (max-width: 480px) {
  .tequilaContent {
    width: 90%;
  }
  .title {
    font-size: 0.7rem;
  }
  .tequilaRow {
    font-size: 0.7rem;
    margin-top: 3px;
  }
  .tequilaRow span:nth-child(1) {
    width: 45%;
    display: flex;
    justify-content: start;
  }
  .tequilaRow span:nth-child(2) {
    width: 25%;
    justify-content: end;
  }
  .tequilaRow span:nth-child(3) {
    width: 25%;
    justify-content: end;
    margin-left: 8px;
  }
}
